* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding: 2vh 0;
}

.drawing-board {
  /* border: 2px solid black; */
  height: 390px;
  width: 390px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.child {
  height: 30px;
  width: 30px;
  border: 1px solid black;
}

.controls {
  display: flex;
  justify-content: center;
  padding: 4vh 0;
  gap: 10px;
}
